<!-- <p>
app works!
</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" />
    <div *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
      <div *ngIf="myForm.get('email').errors.required">Email is required.</div>
      <div *ngIf="myForm.get('email').errors.email">Invalid email format.</div>
    </div>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)">
      <div *ngIf="myForm.get('password').errors.required">Password is required.</div>
    </div>
  </div>
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
  <div *ngIf="myForm.valid && submitted" class="alert alert-success mt-3">

        Welcome {{ myForm.value.email }}!
    
      </div>
</form> -->
<form [formGroup]="myForm" (ngSubmit)="loginUser()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div
      *ngIf="
        myForm.get('email').invalid &&
        (myForm.get('email').dirty || myForm.get('email').touched)
      "
      class="invalid-feedback"
    >
      <div *ngIf="myForm.get('email').errors.required">Email is required</div>
      <div *ngIf="myForm.get('email').errors.email">Invalid email format</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
    <div
      *ngIf="
        myForm.get('password').invalid &&
        (myForm.get('password').dirty || myForm.get('password').touched)
      "
      class="invalid-feedback"
    >
      <div *ngIf="myForm.get('password').errors.required">
        Password is required

      </div>
      <div *ngIf="myForm.get('password').errors.minlength">
        Password must be at least 6 characters long

      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <div *ngIf="myForm.valid && submitted" class="alert alert-success mt-3">

        Welcome {{ myForm.value.email }}!
    
      </div>
</form>
